body {
    background-color: black;
    color: aqua;
}

h1 {
    text-align: center;
}


.img-icons { 
    position: absolute;
    height: 64px;
    width: 64px;
   
}

.fondo-menu {
    min-height: 600px; 
    /*background-color: red;    */
}

.img-fondo {
    height: 100%;
    width: 100%;
}

.cards {
    position: absolute; 
    cursor: pointer;
}

#cardAvatar {
    top: 25%;
    left: 10%
}

#cardGranja1 {
    top: 40%;
    left: 40%
}

#cardPlatform1 {
    top: 60%;
    left: 80%
}

.cards-deshabilitados {
    filter:opacity(50%);
    background-color: brown;
    cursor: no-drop;
}

.shadow-layer {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
}

.img-centrada {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 10%;
}

