body {
    background-color: black;
    color: aqua;
}

h1 {
    text-align: center;
}


.img-icons {   
    height: 64px;
    width: 64px;
    cursor: pointer;
}

.cards {
    position: absolute;
}

#cardAvatar {
    top: 10%;
    left: 10%
}

#cardGranja1 {
    top: 40%;
    left: 20%
}

#cardPlatform1 {
    top: 80%;
    left: 10%
}