.opt-right {
  border: solid green 2px;
  background-color: green;
  color: aliceblue;
}

.opt-wrong {
  border: solid red 2px;
  background-color: yellow;
  color: aliceblue;
}

.cont-contdown {
  background-color: #0f0c42;
  color: honeydew;
  font-size: 2em;
  padding: 0.6em;
  border: solid 1px khaki;
  border-radius: 100%;  
}

body {
  background-image: url("./bg/bg-main.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.cont-pregunta {
  background-image: url("./bg/bg-pregunta.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: honeydew;
  font-size: 1em;
  min-height: 5em;
}

.cont-opcion {
  background-color: #0f0c42;
  color: honeydew;
  font-size: 1em;
  min-height: 3em;
  border: solid 1px khaki;
  
}

.letra-opcion {
  color: rgb(196, 153, 108);
}

.img-m {
    height: 25%;
    width: auto;
}

