.Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background: rgba(0,0,0,0.7);
  }


  .ModalGraph {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background: rgba(254,254,254, 0.7);
  }

  /*
   background: yellow;
  opacity: 0.25;
  */


  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(88,24,69,0.7);
  }