body {
    background-color: #000;
}

.cards-deshabilitados {
    filter: sepia(100%);
    cursor: no-drop;
}

.cards-habilitados {    
    cursor: pointer;    
}

.shadow-layer {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
}

.cont-botones {
	/*background-color: #fff; */
}


.img-centrada {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 10%;
}


.custom-modal { 
    /*background-color: blueviolet;*/
    display: none;   
    z-index: -800;
    
}


.main-cont-btn {
    /*background-color: blueviolet;*/
    margin-top: 25%;
    margin-left: 5%;
    margin-right: 5%;
}

.modal-activo {
		position: absolute;
		top: 46px;
		left: 10%;
		width: 80%;
		height: 330px;
		background-image: url("../img/fondo2.png");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
		background-origin: padding-box;
		z-index: 900;		
}



.custom-btn {
    width: 80%;
    height: auto;
}




.modal-content {
    /*background-color: */
    padding: 0;
    margin: 0;  
}

.modal-body {
    padding-left: 50px;
	padding-right: 50px;
    min-height: 330px;
    background-image: url("../img/fondo2.png");
    background-repeat: no-repeat;
    background-size: 100%;
	box-sizing:border-box;
}


.modal-dialog {
        max-width:500px;
        margin-right: auto;
        margin-left: auto;		
}

.col-3 {
	padding-left: 1px;
	padding-right: 1px;
	
}

.color-blanco {
	/*color: #fff; */
}

.row-encabezado {
	margin-top: 20px;
}

.row-titulo-unidad {
	margin-top: 40px;
}


.letra-u {
	color: orange;
	font-size: 1.5 em;
}

.numero-unidad {
	color:#fff;
	font-size: 1.5em;
}

