.h1, h1 {
  font-family: Cuprum, sans-serif;
  font-weight: bold;
  font-style: italic;
  color: rgb(255,255,255);
}

:root {
  width: 100%;
  max-width: 1280px;
  max-height: 720px;
}

body {
}

#bodycentro {
  max-width: 1280px;
  width: 100%;
  max-height: 720px;
}

#headmenu {
  width: 100%;
  max-width: 1280px;
  padding: 0px;
  background-image: url("../../assets/img/Asset%2023.png");
  background-size: contain;
  background-repeat: repeat-x;
  background-color: #000000;
  background-position: center;
  padding-top: 10px;
}

#contenedorprincipal {
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-top: 13px;
  padding-bottom: 20px;
  max-height: 720px;
  background-image: url("../../assets/img/Asset%2025.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 0px;
  padding-left: 0px;
}

#rowhead {
  margin: 0px;
  width: 100%;
}

#colhead {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

#headinseccion {
  margin-top: 1%;
  font-family: Cuprum, sans-serif;
  font-weight: bold;
  font-style: italic;
  width: 100%;
}

#row1menu {
  margin: 0px;
  max-width: 1280px;
  width: 100%;
  height: auto;
}

#Col_menuitem1 {
  padding: 25px;
  background-image: url("../../assets/img/Asset%2011.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 0;
  padding-bottom: 0;
}

#Col_menuitem2 {
  padding: 25px;
  padding-top: 0;
  padding-bottom: 0px;
}

#Col_menuitem3 {
  padding: 25px;
  padding-top: 0;
  padding-bottom: 0;
}

#Col_menuitem4 {
  padding: 25px;
  padding-top: 0;
  padding-bottom: 0;
}

#row2menu {
  margin: 0px;
  width: 100%;
}

#Col_menuitem5 {
  padding: 15px;
}

#Col_menuitem6 {
  padding: 15px;
}

#Col_menuitem7 {
  padding: 15px;
}

p {
  width: 100%;
  font-family: Cuprum, sans-serif;
  font-size: 3vw;
  color: rgb(255,255,255);
}

