body {
    background-color: #000;
    color: aliceblue;
}

.sprites {
    height: 256px;
    width: 128px;
}

.col-header {
    height: 10em;
}

.img-btn {
    width: 10%;
    cursor: pointer;
    margin: 2em;
}
